# Flutter/Dart build files
build/
.dart_tool/
.packages
.pub-cache/
.pub/
.melos_tool/

# Flutter specific build artifacts
*.flutter-plugins
*.flutter-plugins-dependencies
.metadata
ios/Flutter/Generated.xcconfig
macos/Flutter/Generated.xcconfig
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Test Coverage
coverage/
lcov.info

# IDEs
# IntelliJ / Android Studio
*.iml
.idea/
.android/
.gradle/

# VS Code
.vscode/
history/

# Xcode (para proyectos iOS/macOS)
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Flutter/ephemeral/
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/

# Objets y logs
*.log
*.tmp
*.swp

# Environment / Credentials
.env
*.env
*.keystore
*.jks
key.properties

# Misc
.DS_Store
Thumbs.db

# Firebase / Google Services
android/app/google-services.json
ios/Runner/GoogleService-Info.plist